*, *:before, *:after { box-sizing: border-box; }

html, body {
  margin: 0;
}

a {
  text-decoration: none;
  &:active, &:hover {
    outline: 0;
  }
}

button {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}

table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; text-align: left; }
