// Font
$mainFont                : 'Reem Kufi', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #101010;
$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Pallette
$blue-light              : #127FFF;
$blue                    : #003575;
$blue-dark               : #00183D;


